<style>
    .about {
        background-color: lightgray;
        padding: 30px;
        border-style:solid;
        border-color:gray;
    }
</style>
<img src="@Url.Content("~/Content/Images/GuitarLogo.png")" style="height:50px; margin:5px;"><h1 style="display:inline-block">GuitarBazar</h1>
@{
    ViewBag.Title = "About";
}
<div>Site de vente de guitares neuves et usagées.</div>
<div>Il a été conçu dans le cadre pétagogique du cours 420-KBG.</div>

<div class="about">
    Auteurs: Pascal Arès et Julian Angel Murillo
</div>
