@model GuitarBazar.Models.Seller
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@{
    ViewBag.Titre = "Edit";
}

@{ Html.RenderPartial("SellerForm");}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}